# Git and CI/CD
.git
.github
.gitignore

# Data and Secrets
data
secrets
.env.*

# Local build artifacts and tests
bot
alpargotobot
coverage.out
coverage.html
image.tar.gz
tmp

# IDE and OS
.vscode
.idea
.DS_Store
*.swp
*.swo

# Docker development / deployment helpers
docker/docker-compose*.yml
.dockerignore
Makefile

# Documentation
*.md
LICENSE
